/*WEBSITE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

html, body{
    font-family: 'Afacad Flux', sans-serif;
    margin: 0;
    padding: 0;
}
