/*NAV*/
.nav-style{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5vh;
    width: 100%;
    overflow: hidden;
    background-color: rgba(255,255, 255, 0);
    z-index: 1000;
    transition: background-color 0.3s ease;
    margin-top: -10px;
    padding: 2vh;
}

.nav-style.transparent {
    background-color: rgba(204, 193, 165, 0.2);
    backdrop-filter: blur(5px);
}

.hidden-nav-section{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.visible-nav-section{
    opacity: 1;
    visibility: visible;
}

.nav-items-left{
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-logo{
    width: 6%;
    object-fit: cover;
    margin-right: 10px;
}

.nav-items-left h2{
    margin-top: 25px;
    color: var(--beige);
    font-weight: normal;
    font-style: italic;
}

.nav-items-right{
    width: 40vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}

.nav-items-right p{
    color: white;
}

.nav-items-right p:hover{
    color: white;
}

.color-settings-2 {
    background-color: var(--light-blue-button-bg);
    margin-right: 10px;
}

.color-settings-2 a {
    color:white;
}

.color-settings-2::after {
    border: 3px solid var(--darker-blue-button-bg); 
}

/*FOOTER*/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--deep-brown);
    padding: 1vh 0.5vw;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.footer-section1 {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: flex-start; 
    gap: 0.5rem; 
    margin-top: 5vh;
}

.logo-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 45vw;
}

.logo-section {
    width: auto; 
    height: auto;
    margin-right: 0; 
}

.logo-section img{
    width: auto;
    height: 20vh;
    margin-right: 2vw;
}

.web-info {
    width: auto; 
    height: auto;
}

.web-info1 p{
    font-size: 1rem;
    max-width: 15vw;
    color: var(--beige);
}


.footer-options1{
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 2vw;
    margin-right: 5vw;
}

.list-1, .list-2{
    list-style: none;
}

.list-1 a, .list-2 a{
    text-decoration: none;
    color: var(--beige);
    font-size: 0.9rem;
}

.footer-section2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 6vh;
    margin-bottom: 0;
}

.footer-section2 a{
    text-decoration: none;
    color: var(--beige);
    font-size: 1rem;
}

.middle-el{
    margin-left: 35vw;
    margin-right: 35vw;
}

.footer-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-img img{
    margin: 0 var(--items-margin);
    height: auto;
    width: 95%;
}

.footer-section4{
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--beige);
    width: 100%;
    margin-bottom: 5vh;
}

.footer-section4 a{
    text-decoration: underline;
    color: var(--beige);
    font-size: 1rem;
}

.middle-el1{
    margin-left: 60vw;
    margin-right: 0.5vw;
}

@media (max-width: 950px){
    .logo-text{
        margin-right: 10vw;
    }

    .logo-section img{
        height: 15vh;
    }

    .web-info1 p{
        max-width: 50vw;
    }

    .middle-el{
        margin-left: 25vw;
        margin-right: 25vw;
    }

    .middle-el1{
        margin-left: 35vw;
        margin-right: 0.5vw;
    }
}

@media (max-width: 750px){
    .footer-section1{
        margin-top: 1vh;
    }

    .logo-text{
        margin-right: 1vw;
    }

    .logo-section img{
        width: auto;
        height: 10vh;
        margin-right: 2vw;
    }

    .web-info1 p{
        font-size: 0.75rem;
        max-width: 20vw;
        color: var(--beige);
    }

    .list-1 a, .list-2 a{
        text-decoration: none;
        color: var(--beige);
        font-size: 0.65rem;
    }

    .footer-section2{
        margin-top: 1vh;
    }

    .footer-section2 a{
        font-size: 0.75rem;
    }

    .middle-el{
        margin-left: 20vw;
        margin-right: 20vw;
    }

    .footer-section4 a{
        font-size: 0.75rem;
    }

    .footer-section4 p{
        font-size: 0.75rem;
    }
    
    .middle-el1{
        margin-left: 18vw;
        margin-right: 0.2vw;
    }
}