*{
    box-sizing: border-box;
}

body{
    background-color: var(--off-white);
}

.custom-nav-body-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.section-1{
    width: fit-content;
}

.nav-link.active.custom-display {
    background-color: var(--pale-teal);
}

.nav-link.active.custom-display span{
    color: var(--deep-teal);
}

.nav-link.active.custom-display svg{
    fill: var(--deep-teal);
}

.container-fluid span, svg{
    color: var(--beige);
}

.container-fluid span:hover{
    color: var(--beige);
}

.custom-bg{
    background-color: var(--deep-teal) !important;
    max-width: 100%;
}

.custom-display-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.custom-display span{
    margin-left: 10px;
}

.custom-logo-size img{
    width: 30px;
    object-fit: cover;
}

.custom-img{
    width: 30px;
    object-fit: cover;
    border-radius: 50px;
    margin-left: -5px;
}

.section-2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw;
}

.items-display{
    height: auto;
    width: 100%;
    overflow: hidden;
    margin: var(--items-margin);
}

.row-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
}

.add-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;  
}

.add-items svg {
    width: 15px; 
    height: 15px; 
    fill: var(--teal-green);
}

.add-items p {
    color: var(--teal-green);
    margin: 0;  
    font-size: 16px; 
}

.custom-card-container{
    min-height: 30vh;
    width: 100%;
}

.custom-card-list .custom-card-item{
    list-style: none;
}

.custom-card-list .custom-card-item .custom-card-link{
    overflow: hidden;
    margin-top: 2%;
    width: 20vw;
    height: 25vh;
    display: block;
    border: 2px rgba(77, 77, 775,0.2) solid;
    border-radius: var(--border-radius);
    text-decoration: none;
    transition: width 0.3s ease, border 0.3s ease;
}

.custom-card-list .custom-card-item .custom-card-link:hover{
    width: 20.5vw;
}

.colored-bg-1{
    object-fit: contain;
    height: 10vh;
    width: 100%;
    background-color: rgba(173, 93, 47, 0.5);
    margin-bottom: 5%;
}

.colored-bg-2{
    object-fit: contain;
    height: 10vh;
    width: 100%;
    background-color: rgba(57, 74, 92, 0.5);
    margin-bottom: 5%;
}

.colored-bg-3{
    object-fit: contain;
    height: 10vh;
    width: 100%;
    background-color: rgba(120, 66, 38, 0.5);
    margin-bottom: 5%;
}

.colored-bg-4{
    object-fit: contain;
    height: 10vh;
    width: 100%;
    background-color: var(--pale-teal);
    margin-bottom: 5%;
}

.colored-bg-5{
    object-fit: contain;
    height: 10vh;
    width: 100%;
    background-color: rgba(106, 94, 51, 0.5);
    margin-bottom: 5%;
}

.custom-card-list .custom-card-item .custom-card-title{
    padding: 0 2%;
    color: var(--deep-brown);
}

.custom-card-list .custom-card-item .custom-card-title:hover{
    font-weight: bold;
}

.custom-card-list .custom-card-item .custom-card-info{
    padding: 0 2%;
    color: var(--rust);
    font-style: italic;
}

@media (max-width: 950px) {
    .custom-display-1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
